.nav-secondary-container {
    background: var(--color-white);
    width: 100vw;
    position: relative;
    z-index: 2;
    display : flex;
    padding: .8rem 1.7rem;
    gap: .8rem;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.btn-back {
    font-size: 1.1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: .5rem;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    color: #404040;
}

.btn-back:hover, .btn-back:focus {
    color: var(--color-primary);
}